/.idea
/.gradle
/build
/.DS_Store
/Aster/.DS_Store
/Aster/src/.DS_Store
/Aster/src/main/.DS_Store
/Aster/src/main/java/.DS_Store
/Aster/src/main/java/com/.DS_Store
/Aster/src/main/java/com/Aster/.DS_Store