.toolbarCustomer {
    width: 100%;
    height: 65px;
    background: #4c5679;
    left: 0;
    top: 0;
}

.toolbarFlorist {
    width: 100%;
    height: 65px;
    background: #794e4d;
    left: 0;
    top: 0;
}

.toolbar__logo{
    margin-left: 1rem;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: Cochin;
}

.toolbar__navigation {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1rem;
}

.spacer {
    flex: 1;
}

.toolbar__navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar__navigation-items li {
    padding: 0 0.5rem;
}

.toolbar__navigation-items a{
    color: white;
    text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
    color: orange;
}